<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.an.mapper.OverdueMapper">

	<select id="findAllOverdue" resultType="com.an.pojo.Overdues">

		select * from overdue
	</select>
	<select id="findByBookName" parameterType="String" resultType="com.an.pojo.Overdues">

		select * from overdue where bookName=#{0}
	</select>


	<insert id="addOverdue" parameterType="com.an.pojo.Overdues">

		INSERT INTO `overdue`(`overdueId`, `bookName`,`readerName`, `overdueDate`)
		VALUES (DEFAULT,#{bookName},#{readerName}, #{overdueDate});

	</insert>
	<update id="updateOverdue" parameterType="com.an.pojo.Overdues">
		update overdue set overdueDate=#{overdueDate} where
		overdueId=#{overdueId}

	</update>

	<delete id="deleteOverdue" parameterType="int">

		delete from overdue where overdueId=#{0}
	</delete>





</mapper>